<div>
{{#mdl-nav title='Fixed Header Example' fixedHeader=true}}
  {{mdl-nav-item name='Архив погоды'   route='weather.all'}}
  {{mdl-nav-item name='Поиск погоды'   route='weather.index'}}
{{/mdl-nav}}
</div>